

body {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  color: #FFFFFF;
}

.logo{
  align-self: center;
  justify-self: flex-start;
  background-color: #1f2937;
}

.head-logo{
  max-width: 64px;
  max-height: 80px;
  padding: 20px;
  border: none;
}

.right-links{
  justify-self: flex-end;
  padding: 20px;

}

a.links {
  margin: 10px;
}

.button {
  border-radius: 10px;
  background-color: #64A7FF;
  color: white;
  font-weight: 700;
  padding: 10px;
  border: none;
}

.top {
  background-color: #1f2937;
  color: #FFFFFF;
  justify-items: flex-start;
}



.top-button{
margin-left: 20px;
margin-bottom: 20px;
}

.information{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info-paragraph{
  font-weight: 800;
  align-self: center;
  font-size: 36px;
  font-weight: 900;
}

img {
  max-width: 200px;
  max-height: 250px;
  border-radius: 5px;
  border: solid 2px red;
}

.bio-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #E5E7EB;
}

.bio {
  align-self: center;
  justify-self: center;
  font-size: 36px;
  font-style: italic;
}
.bio-p{
  max-width: 500px;
}

.bottom-sign-up{
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.button-container {
  display: flex;
  background-color: #64A7FF;
  flex-grow: .5;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 50px;
  color:#FFFFFF;
}

.button-container .button{
  border: solid #FFFFFF 1px;
  flex-direction: flex-end;
}

.footer {
  display: flex;
  background-color: #1f2937;
  color: #e5e5e5;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-size: 24px;
}