body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  color: #FFFFFF;
}

.logo{
  align-self: center;
  justify-self: flex-start;
  font-weight: 700;
  font-size: 20px;
  margin-left: 100px;
}

.right-links{
  justify-self: flex-end;
  align-items: flex-end;
  padding: 10px;
  margin-right: 100px;
}

.button {
  border-radius: 10px;
  background-color: #64A7FF;
  color: white;
  font-weight: 700;
  padding: 10px;
  border: none;
}

.top {
  background-color: #1f2937;
  color: #FFFFFF;
  justify-items: flex-start;
}

.information{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info-paragraph{
  font-weight: 800;
  align-self: center;
}

img {
  max-width: 200px;
  max-height: 250px;
}